@import url('./helpers.css');

/* Layout */

* {
    box-sizing: border-box;
}

/* App */
#app {
    grid-template-areas: 
    "app-header"
    "app-menu"
    "canvas"
    "app-footer";
    grid-template-rows: 100px 30px 2fr 100px;
    grid-template-columns: 1fr;
}

.app-header {
    grid-area: app-header;
    background-color: lightgrey;
    width: 100%;
}

.app-menu {
    grid-area: app-menu;
}


/* Canvas */

#canvas {
    grid-area: canvas;
    border: 1px solid blue;
}

/* Footer */

.app-footer {
    grid-area: app-footer;
    background-color: lightgrey;
    width: 100%;
}